include AUTHORS
include LICENSE
include ChangeLog
include MANIFEST.in
include Makefile
include requirements.txt
include credentials.json
include *.md
include *.py
include Hologram/Network/Modem/chatscripts/default-script
recursive-include Hologram *.py
recursive-include tests *.py
recursive-include scripts *.py
