include AUTHORS
include LICENSE
include ChangeLog
include MANIFEST.in
include Makefile
include requirements.txt
include version.txt
include credentials.json
include install.sh
include *.md
include *.py
include Hologram/Network/Modem/chatscripts/default-script
recursive-include Hologram *.py
recursive-include Exceptions *.py
recursive-include tests *.py
recursive-include scripts *.py
